Package: com.thecasle.nine
Name: nine
Depends: mobilesubstrate, ws.hbang.common
Version: 0.1.1
Architecture: iphoneos-arm
Description: Reworks the Notification Center
 Beta Features:
 - Clear background
 - Disable banners (needs testing!)
 - Revised customization tab
 - Palette banner support
Maintainer: Jake Kaslewicz <jakaslewicz@gmail.com>
Author: Jake Kaslewicz
Section: Tweaks
