Package: com.thecasle.nine
Name: nine
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), com.creaturesurvive.libcscolorpicker
Version: 0.1.1
Architecture: iphoneos-arm
Description: Reworks the Notification Center
 iOS nine Notification Center and lock screen
 - Beta version
Maintainer: Jake Kaslewicz <jakaslewicz@gmail.com>
Author: Jake Kaslewicz
Section: Tweaks
