Package: com.thecasle.nine
Name: nine
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), org.thebigboss.libcolorpicker
Version: 0.2.4
Architecture: iphoneos-arm
Description: iOS nine styled Notification Center and lock screen
 - Working on resolving bugs
Maintainer: Jake Kaslewicz <jakaslewicz@gmail.com>
Author: Jake Kaslewicz
Section: Tweaks
