<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>title</key>
    <string>Customization</string>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Lockscreen</string>
            <key>footerText</key>
            <string>Lockscreen darkening.</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBStepperTableCell</string>
            <key>default</key>
            <real>12</real>
            <key>defaults</key>
            <string>com.thecasle.nineprefs</string>
            <key>key</key>
            <string>generalBlurValue</string>
            <key>label</key>
            <string>Blur radius: %i</string>
            <key>max</key>
            <real>50</real>
            <key>min</key>
            <real>0</real>
            <key>singularLabel</key>
            <string>Blur radius: 1</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.thecasle.nineprefs/ReloadPrefs</string>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>CSColorDisplayCell</string>
            <key>defaults</key>
            <string>com.thecasle.nineprefs.color</string>
            <key>key</key>
            <string>lockscreenColors</string>
            <key>label</key>
            <string>Lockscreen color</string>
            <key>fallback</key>
            <string>000000</string>
            <key>alpha</key>
            <false/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
            <string>HBDiscreteSliderTableCell</string>
            <key>default</key>
            <real>1</real>
            <key>defaults</key>
            <string>com.thecasle.nineprefs</string>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>generalDarkeningValue</string>
            <key>label</key>
            <string>Discrete</string>
            <key>max</key>
            <real>10</real>
            <key>min</key>
            <real>0</real>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Notification Center</string>
            <key>footerText</key>
            <string>Notification Center darkening.</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBStepperTableCell</string>
            <key>default</key>
            <real>17</real>
            <key>defaults</key>
            <string>com.thecasle.nineprefs</string>
            <key>key</key>
            <string>historyBlurValue</string>
            <key>label</key>
            <string>Blur radius: %i</string>
            <key>max</key>
            <real>50</real>
            <key>min</key>
            <real>0</real>
            <key>singularLabel</key>
            <string>Blur radius: 1</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.thecasle.nineprefs/ReloadPrefs</string>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>CSColorDisplayCell</string>
            <key>defaults</key>
            <string>com.thecasle.nineprefs.color</string>
            <key>key</key>
            <string>notificationCenterColors</string>
            <key>label</key>
            <string>Notification center color</string>
            <key>fallback</key>
            <string>000000</string>
            <key>alpha</key>
            <false/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>cellClass</key>
            <string>HBDiscreteSliderTableCell</string>
            <key>default</key>
            <real>4</real>
            <key>defaults</key>
            <string>com.thecasle.nineprefs</string>
            <key>showValue</key>
            <true/>
            <key>key</key>
            <string>historyDarkeningValue</string>
            <key>label</key>
            <string>Discrete</string>
            <key>max</key>
            <real>10</real>
            <key>min</key>
            <real>0</real>
        </dict>
	</array>
	<key>title</key>
	<string>Customization</string>
</dict>
</plist>
